body 
{
margin: 0 auto;
}
ul
{
float:left;
padding:0;
margin:0;
list-style-type:none;
}
a
{
float:left;
width:7em;
text-decoration:none;
color:black;
padding:0.2em 0.6em;
border-right:1px solid white;
}
li {display:inline}

hr
{
margin-left:0;
width:350px;
size:1;
}

hr.line1
{
position:absolute;
left:205px;
top:65px;
}
hr.line2
{
position:absolute;
left:700px;
top:65px;
}
hr.line3
{
position:absolute;
left:205px;
top:145px;
}
hr.line4
{
position:absolute;
left:700px;
top:145px;
}

ul.home
{
position:absolute;
left:290px;
top:100px;
}
ul.about
{
position:absolute;
left:400px;
top:100px;
}
ul.work
{
position:absolute;
left:770px;
top:100px;
}
ul.contact
{
position:absolute;
left:900px;
top:100px;
}

img.name
{
position:absolute;
left:550px;
top:30px;
}
img.photo
{
position:absolute;
left:800px;
top:200px;
}

p.welcome
{
font-size:30px;
letter-spacing:0.1em;
font-weight:normal;
}

p.site
{
font-size:25px;
letter-spacing:0.1em;
font-weight:normal;
position:absolute;
left:300px;
top:750px;
}

div.welcome
{
position:absolute;
left:170px;
top:200px;
}

footer
{
position:absolute;
left:500px;
top:850px;
}
